@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgba(25, 23, 23, 0.994);
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
}
section {
    width: 1200px;
    margin: auto;
}
.Suporte a {
    color: aliceblue;
    text-decoration: none;
}
header div {
    display: inline-block;
}
header .Suporte {

float:right ;  

}

.logotipo img {
    width: 200px;
}

header .logotipo {
    float: left;
}

header .Suporte {
    float: right;
}
